.button {
    width: 48%;
    padding: 20px;
    font-size: 1.4rem;
    text-transform: uppercase;
    border: none;
    margin: 20px auto;
    // margin-top: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #D0021B;
    &--searchbutton {
        position: absolute;
        top: -20px;
        right: 0;
        padding: 0 20px;
        line-height: 48px;
        height: 48px;
    }
}
